# Spaceship Titanic-Solution (Classification problem)

BY: Santiago Cadena

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [17]:
df_test = pd.read_csv("test.csv")
df_train=pd.read_csv("train.csv")
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

# Data Exploration
###  Identifying the dataset

In [20]:
def idfy_cols(df):
    #missed = df.loc[:, df.isna().any()]
    total =df.columns
    categorical = df.dtypes == 'object'
    # Reindex the boolean series to match the dataframe columns
    categorical = categorical.reindex(total, fill_value=False)
    categorical = df.loc[:, categorical].columns
    numerical = total.difference(categorical)
    return categorical, numerical

#Total cols
cat,num=idfy_cols(df_test)
print("# Total Of Categorical Cols:",cat.shape[0],"\n# Total Of Numerical Cols:",num.shape[0])
#None cols
cat_train,num_train=idfy_cols(df_train.loc[:, df_train.isna().any()])
total=len(df_train)
cat_ncols_train=df_train[cat_train].isnull().sum()*100/total
print("Nan Cathegorical (%)")
cat_ncols_train.sort_values(ascending=False)

# Total Of Categorical Cols: 7
# Total Of Numerical Cols: 6
Nan Cathegorical (%)

CryoSleep      2.496261
VIP            2.335212
HomePlanet     2.312205
Name           2.300702
Cabin          2.289198
Destination    2.093639
dtype: float64

### Removing Outliers

In [ ]:
for col in cat:
    df_train[col].fillna('NA',inplace=True)
    df_test[col].fillna('NA',inplace=True)
    plt.figure(figsize=(20,12))
    sns.violinplot(data=df_train,x=col,y='Transported')
    plt.title("Transported vs {col}".format(col=col),fontsize=25)
    plt.show()
    print(df_train[col].value_counts()/len(df_train))